Repository horn553/nempy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
	"*.{js,ts,svelte}": ["prettier --write", "eslint --fix"],
	"*.{json,md,css,html}": ["prettier --write"]
}

Fix CI: Update Node.js versions to 20.x and 22.x for compatibility
  .github/workflows/ci.yml
Due: none

Fix formatting issues with Prettier
  .github/workflows/ci.yml
  docs/development-todo.md
  docs/requirements.md
Due: prettier --write

Update development TODO: Mark Phase 1-A as completed
  docs/development-todo.md
Due: prettier --write

Update README.md: Complete overhaul with comprehensive project documentation
  README.md
Due: prettier --write

Implement domain model layer for nempy
  package-lock.json
  src/domain/entities/fuel-record.test.ts
  src/domain/entities/fuel-record.ts
  src/domain/entities/user.test.ts
  src/domain/entities/user.ts
  src/domain/entities/vehicle.test.ts
  src/domain/entities/vehicle.ts
  src/domain/index.ts
  src/domain/types/result.test.ts
  src/domain/types/result.ts
  src/domain/validators/common.test.ts
  src/domain/validators/common.ts
  src/domain/value-objects/permission.test.ts
  src/domain/value-objects/permission.ts
Due: prettier --write, eslint --fix

Implement Google OAuth 2.0 authentication system
  .env.example
  README.md
  docs/authentication.md
  package-lock.json
  package.json
  postcss.config.js
  src/app.css
  src/app.d.ts
  src/hooks.server.ts
  src/lib/server/auth/google.ts
  src/lib/server/auth/sessions.ts
  src/lib/server/db/index.ts
  src/lib/server/db/schema.ts
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/auth/google/+server.ts
  src/routes/auth/google/callback/+server.ts
  src/routes/auth/logout/+server.ts
  src/routes/login/+page.server.ts
  src/routes/login/+page.svelte
  tailwind.config.js
Due: prettier --write, eslint --fix

Update development TODO list with phase 2-C completion
  docs/development-todo.md
Due: prettier --write

Fix Prettier formatting issues in domain models
  src/domain/entities/fuel-record.test.ts
  src/domain/entities/fuel-record.ts
  src/domain/entities/user.test.ts
  src/domain/entities/user.ts
  src/domain/entities/vehicle.test.ts
  src/domain/entities/vehicle.ts
  src/domain/index.ts
  src/domain/types/result.test.ts
  src/domain/types/result.ts
  src/domain/validators/common.test.ts
  src/domain/validators/common.ts
  src/domain/value-objects/permission.test.ts
  src/domain/value-objects/permission.ts
Due: prettier --write, eslint --fix

Fix ESLint unused variable errors
  src/domain/entities/fuel-record.test.ts
  src/domain/types/result.test.ts
Due: prettier --write, eslint --fix

Fix remaining ESLint unused variable error
  src/domain/types/result.test.ts
Due: prettier --write, eslint --fix

Fix TypeScript type errors and import issues
  src/domain/entities/fuel-record.ts
  src/domain/entities/user.ts
  src/domain/entities/vehicle.ts
  src/domain/types/result.test.ts
  src/domain/validators/common.ts
  src/domain/value-objects/permission.ts
Due: prettier --write, eslint --fix

Fix TypeScript readonly property assignment errors
  src/domain/entities/fuel-record.ts
  src/domain/entities/user.ts
  src/domain/entities/vehicle.ts
Due: prettier --write, eslint --fix

Add .claude/ to .gitignore to prevent CI formatting issues
  .gitignore
Due: none

Implement UI framework setup (Phase 1-C)
  docs/development-todo.md
  package-lock.json
  package.json
  postcss.config.js
  src/app.html
  src/app.postcss
  src/lib/components/Footer.svelte
  src/lib/components/Header.svelte
  src/lib/components/Sidebar.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.cjs
Due: prettier --write, eslint --fix

Add Storybook setup tasks to development TODO
  docs/development-todo.md
Due: prettier --write

Fix formatting issues with Prettier
  postcss.config.js
  src/app.html
  src/app.postcss
  src/lib/components/Footer.svelte
  src/lib/components/Header.svelte
  src/lib/components/Sidebar.svelte
  src/routes/+layout.svelte
  tailwind.config.cjs
Due: prettier --write, eslint --fix

Fix ESLint errors
  src/lib/components/Sidebar.svelte
  tailwind.config.js
Due: prettier --write, eslint --fix

Implement Storybook setup for Svelte components (Phase 1-D)
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.js
  package-lock.json
  package.json
  src/lib/components/Card.stories.svelte
  src/lib/components/Card.svelte
  src/lib/components/Footer.stories.svelte
  src/lib/components/Header.stories.svelte
  src/lib/components/Sidebar.stories.svelte
  src/stories/Button.stories.svelte
  src/stories/Button.svelte
  src/stories/Configure.mdx
  src/stories/Header.stories.svelte
  src/stories/Header.svelte
  src/stories/Page.stories.svelte
  src/stories/Page.svelte
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier --write, eslint --fix

Fix linting issues and formatting
  src/stories/Configure.mdx
Due: none

feat: データベーススキーマ実装（フェーズ2-B）
  .env.example
  docs/database-setup.md
  docs/development-todo.md
  drizzle.config.local.ts
  drizzle.config.ts
  drizzle/0000_huge_hellfire_club.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package-lock.json
  package.json
  src/lib/db/client.ts
  src/lib/db/schema/fuel-records.ts
  src/lib/db/schema/index.ts
  src/lib/db/schema/users.ts
  src/lib/db/schema/vehicle-permissions.ts
  src/lib/db/schema/vehicles.ts
  src/lib/db/seed.ts
Due: prettier --write, eslint --fix

fix: Node.js 22.x互換性のためのテスト修正
  src/domain/entities/fuel-record.test.ts
  src/domain/entities/user.test.ts
  src/domain/entities/vehicle.test.ts
Due: prettier --write, eslint --fix

feat: Wranglerベースのマイグレーションシステムにアップデート
  .env.example
  docs/database-setup.md
  drizzle.config.local.ts
  drizzle.config.ts
  package-lock.json
  package.json
  wrangler.toml
Due: prettier --write, eslint --fix

Implement Phase 3-A: Repository Layer
  docs/development-todo.md
  eslint.config.js
  src/lib/domain/types.ts
  src/lib/index.ts
  src/lib/infrastructure/TransactionManager.ts
  src/lib/repositories/FuelRecordRepository.ts
  src/lib/repositories/PermissionRepository.ts
  src/lib/repositories/UserRepository.ts
  src/lib/repositories/VehicleRepository.ts
  src/lib/repositories/index.ts
Due: prettier --write, eslint --fix

Complete authentication integration with main app structure
  README.md
  docs/authentication.md
  package-lock.json
  package.json
  src/app.css
  src/hooks.server.ts
  src/lib/server/auth/google.ts
  src/lib/server/auth/sessions.ts
  src/lib/server/db/index.ts
  src/lib/server/db/schema.ts
  src/routes/+layout.server.ts
  src/routes/auth/google/+server.ts
  src/routes/auth/google/callback/+server.ts
  src/routes/auth/logout/+server.ts
  src/routes/login/+page.server.ts
  src/routes/login/+page.svelte
  src/routes/page.svelte.test.ts
Due: prettier --write, eslint --fix

Implement proper environment variable management
  .github/workflows/ci.yml
  README.md
  docs/environment-setup.md
  src/lib/server/auth/google.ts
Due: prettier --write, eslint --fix

Implement Drizzle ORM integration and D1 batch transactions
  drizzle.config.ts
  package-lock.json
  package.json
  src/lib/database/connection.ts
  src/lib/database/index.ts
  src/lib/database/schema.ts
  src/lib/database/utils.ts
  src/lib/domain/types.ts
  src/lib/index.ts
  src/lib/infrastructure/TransactionManager.ts
  src/lib/repositories/FuelRecordRepository.ts
  src/lib/repositories/PermissionRepository.ts
  src/lib/repositories/UserRepository.ts
  src/lib/repositories/VehicleRepository.ts
  src/lib/repositories/index.ts
  src/lib/repositories/interfaces/IFuelRecordRepository.ts
  src/lib/repositories/interfaces/IPermissionRepository.ts
  src/lib/repositories/interfaces/IUserRepository.ts
  src/lib/repositories/interfaces/IVehicleRepository.ts
  src/lib/repositories/interfaces/index.ts
Due: prettier --write, eslint --fix
